<div class="title">
    <h2>Citys List</h2>
</div>
<hr>
<table [dataSource]="city" mat-table class="mat-elevation-z8 full-width-table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let city"> {{city.Id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let city"> {{city.Name}} </td>
    </ng-container>
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let city"> {{city.Country}} </td>
    </ng-container>
    <ng-container matColumnDef="normalDeviceCount">
        <th mat-header-cell *matHeaderCellDef> Normal Count </th>
        <td mat-cell *matCellDef="let city"> {{city.NormalDevicesCount}} </td>
    </ng-container>
    <ng-container matColumnDef="warningDeviceCount">
        <th mat-header-cell *matHeaderCellDef> Warning Count </th>
        <td mat-cell *matCellDef="let city"> {{city.WarningDevicesCount}} </td>
    </ng-container>
    <ng-container matColumnDef="alertDeviceCount">
        <th mat-header-cell *matHeaderCellDef> Alert Count </th>
        <td mat-cell *matCellDef="let city"> {{city.AlertDevicesCount}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card class="center">
    <div>
        <mat-card-header class="center">
            <mat-card-title> Resume </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="content">
                <p>Normal</p>
                <h3>
                    <span class="badge badge-pill badge-info">{{ totalNormal() }}</span>
                </h3>      
            </div>
            <div class="content">
                <p>Warning</p>
                <h3>
                    <span class="badge badge-pill badge-warning">{{ totalWarning() }}</span>
                </h3>      
            </div>
            <div class="content">
                <p>Alert</p>
                <h3>
                    <span class="badge badge-pill badge-danger">{{ totalAlert() }}</span>
                </h3>      
            </div>
          </mat-card-content>
    </div>
</mat-card>