.card{
    border: 2px solid;
    border-radius: 6px;
}

.body-name .name p{
    margin-bottom: 0;
}

.title h1 {
    margin-top: 13px;
    margin-bottom: 0;
}

hr {
    width: 50%;
    margin-top: 0;
    margin-bottom: 3px;
}

.badge {
    padding-top: 5px;
    background-color: rgba(0,0,0, .2);
}
.red-border {
    border-color: #e8505b;
}
.yellow-border {
    border-color: #ffcd3c;
}
.blue-border {
    border-color: #14b1ab;
}

